<!-- login.html -->
{% extends 'base.html' %}

{% block content %}

  <h3>Sign in</h3>

  <form action="{% url 'signin' %}" method="post">

    {% csrf_token %}

    <label for="">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter username" required><br>

    <label for="">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required><br>

    <button type="submit">sign in</button>
  </form>


  {% endblock %}